<!DOCTYPE html>
<html lang="en" ng-app="GiphyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello World</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <script src="/index.js"></script>

</head>

<body ng-controller="GCtrl as gCtrl">

  <div class="container">
    <h1>Hello World</h1>
    <div class="row">
      <div class="col-md-12">
        <form name="searchForm" class="form-inline" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject"
                   ng-model="gCtrl.subject">
            <button class="btn btn-success"
                    ng-click="gCtrl.search()">Go!</button>
          </div>
        </form>
      </div>
    </div>

    </br></br>

    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive img-thumbnail"
             ng-src="{{ gCtrl.image }}">
      </div>
    </div>

    </br>
    Search subject is {{ gCtrl.subject}} </br>
    Address is {{ gCtrl.image }} </br>
    Controller is {{ gCtrl }}
  </div><!-- container -->

</body>
</html>